<!DOCTYPE html>

<html ng-app="miAppModule">
 
  <head>
      <meta charset="utf-8">
      <title>Angular JS</title>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
      <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
      <script type="text/javascript" src="js/autocomplete-jquery-ui.js"></script>
      <script type="text/javascript" src="js/controller.js"></script>

      <link rel="stylesheet" type="text/css" href="css/autocomplete-jquery-ui.structure.css" />
      <link rel="stylesheet" type="text/css" href="css/style.css" />

      <style type="text/css">
        .circular {
          border-radius: 50%;
          width: 100px;
          height: 100px;
          display: inline-block;
          }

        .no-list{
          list-style-type: none;
        }

        body,html{
          text-align: center;
          background-color: #eee;
          margin: 0px;
        }
      </style>
  </head>
 
  <body ng-controller="miController">
    <input type="text" auto-complete="repos" placeholder="Buscar Repositorio" />

      <ul class="no-list">
        <li ng-repeat="r in posts" ng-hide="main_repo && main_repo != r.name">
          <div class="circular" back-img="{{r.owner.avatar_url}}"></div>
          <h1 class="inline-block">{{r.name}}</h1>
        </li>
      </ul>
      <a ng-click="main_repo = null">Limpiar</a>
  
  </body>
 
</html>