<!DOCTYPE html>

<html ng-app="miAppModule">
 
  <head>
  		<meta charset="utf-8">
  		<title>Hola Mundo en angular JS</title>

    	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    	<script type="text/javascript" src="js/controller.js"></script>
	</head>
 
  <body ng-controller="miController">
    <h1>Posts de <a href="http://jsonplaceholder.typicode.com/posts">http://jsonplaceholder.typicode.com/posts</a></h1>
    

    <p>Title: <input type="text" ng-model="newPost.title" /></p>
    <p>Body: <textarea ng-model="newPost.body"></textarea></p>
    <p><button ng-click="addPost()">Enviar</button></p>


    <div ng-repeat = "p in posts">
      <h2>{{p.title}}</h2>
      <p>{{p.body}}</p>
    </div> 


 	</body>
 
</html>